<?xml version="1.0" encoding="UTF-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.glympse.android.contactsdemo" android:versionCode="2" android:versionName="0.0.17">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="23"/>

    <!-- GLYMPSE API - Needed to send Glympses via SMS -->
    <!--    Docs:    Allows an application to send SMS messages. -->
    <!--    Install: Services that cost you money: send SMS messages -->
    <!-- !!! - Request required for use in API 23+ -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    
    <!-- GLYMPSE API - Used to query network connection status before attempting network activity -->
    <!-- 	Docs: 	 Allows applications to access information about networks -->
    <!-- 	Install: View network connections -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GLYMPSE API - Used to create a default user profile (nickname/avatar) -->
    <!-- Optional but highly recommended -->
    <!--    Docs:    Allows an application to read the user's contacts data. -->
    <!--    Install: Read your contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:name=".GlympseContactsDemoActivity" android:label="@string/title_activity_main" android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- GLYMPSE API - This is required to be notified, when service is restarted. -->
        <receiver 
            android:name=".GlympseWrapper$ServiceReceiver" 
            android:exported="false">
            <intent-filter>
                <action android:name="com.glympse.android.hal.service.STARTED" />
            </intent-filter>
        </receiver>       
        
    </application>

</manifest>